<div id="comment_<%= comment.id %>" class="comment">
  <h1><%= h comment.title %></h1>
  <span class="credit">
    from: 
    <%- unless comment.user.blank? -%>
      <%= link_to "#{comment.user.name}", :controller => 'user', :action => 'show', :id => comment.user.id %>
    <%- end -%>
    <%- unless comment.twitter_handle.blank? -%>
      <%= link_to "@#{comment.twitter_handle}", "http://twitter.com/#{comment.twitter_handle}" %>
    <%- end -%>
    <%- if comment.source == 'twitter' and comment.uid and comment.twitter_handle -%>
      orginal tweet: <%= link_to comment.uid, "http://twitter.com/#{comment.twitter_handle}/statuses/#{comment.uid}" -%>
    <%- end -%>
  </span>
  <%= h comment.content %>
  <%- unless defined? no_reply -%>
    <%- if session[:user] -%>
      <%= render :partial => 'comment/comment_form', :locals => {:comment => comment}%>
    <%- else -%>
      <p class="reply">Login or <%= link_to "sign up", :controller => 'user', :action => 'signup' %> to comment.</p>
    <%- end -%>
    <ul>
    <%- comment.children.each do |c| -%>
      <li><%= render :partial => 'comment/comment', :locals => {:comment => c} %></li>
    <%- end -%>
    <ul>
  <%- end -%>
</div>
