<div id="comments">
  <h1>Current Discussions</h1>
  <%- @comments.each do |comment| -%>
    <div id="comment_<%= comment.id %>" class="comment roomy">
      <h2><%= comment.title %></h2>
      <%= comment.content %>
      <p class="comment-count"><%= comment.descendants.size %> comments<p>
    </div>
    <%- content_for :inline_js do -%>
    $('#comment_<%= comment.id %>').click(function () {
      window.location = "<%= url_for :action => 'show', :id => comment.id %>";
      return false;
    });
    <%- end -%>
  <%- end -%>
</div>

<%- content_for :inline_js do -%>
(function () {
  $('.comment').hover(function () {
    $(this).css("background-color", "#fff247");
  }, function() {
    $(this).css("background-color", "#fff");
  });
})();
<%- end -%>
