<div id="login-bar">
<%- if session[:user] -%>
  <%= link_to "Start New Thread", :controller => 'comment', :action => 'new_thread' %>
  Logged in as <%= session[:user].email %>. <%= link_to "Sign out", :controller => 'user', :action => 'logout' %>
<%- else -%>
  <%- form_tag '/user/login' do -%>
    <%= link_to "Sign up", :controller => 'user', :action => 'signup' %> or login: 
    <%= label_tag "user_email", "email " %>
    <%= text_field "user", "email", :size => 12 %>
    <%= label_tag "user_email", "password " %>
    <%= password_field "user", "password", :size => 12 %>
    <%= submit_tag "Login" %>
  <%- end -%>
<%- end -%>
</div>
